body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(111, 100, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
    form-container{
        background-color: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(244, 242, 242, 0.1);
    }
     label{
        display: block;
        margin-bottom: 10px 0 5px;
        font-weight: bold;
     }
     input[type="text"], input[type="email"], input[type="password"],input[type="phone number"], textarea[type="text"], select[type="text"]{
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
     }
     .radio-group, .checkbox-group{
        margin-bottom: 15px;
     }
      .radio-group label, .checkbox-group{
        margin-right: 15px;
        font-weight: normal;
     }
     textarea{
        resize: vertical;
        min-height: 80px;
     }

     button:hover{
       background-color: aquamarine;
     }
     button{
        padding: 15px;
        width: 10px;
        font-size: 10px;
        margin-bottom: 15px;
        
     }
       button[type="submit"]{
         background-color:greenyellow rgb(0, 0, 0);
         color: white;
         border: none;
         border-radius: 5px;
         cursor: pointer;
       }